body {
    background-color: #295f4e;
}

.weather-app {
    background-color: #7dd87d;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 12px 15px 40px 15px;
}

#search-form {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 13px;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
}

.weather-forecast-day {
    display: flex;
    flex-direction: column;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
    margin: 0;
    font-size: 40px;
    line-height: 45px;
}

#time {
    font-weight: bold;
}

.weather-app-temperature-container {
    display: flex;
    align-items: center;
}

.weather-app-temperature {
    margin-right: 5px;
    font-size: 40px;
}

.weather-app-unit {
    margin-bottom: 10px;
    font-size: 22px;
}